@font-face {
    font-family: unibody;
    src: url(./assets/Unibody8Skinny.ttf);
 }

* {
    background-color:#ccc7c7;
    /* font-family: ; */
    font-family: unibody;
    font-size: 1.2rem;
    text-align: center;
} 

.grid {
    background-color: gray;
    border: 3px solid black;
    display: flex;
    /* wrapping the div items so it fits */
    flex-wrap: wrap;
    height:400px;
    width: 400px;
}

.grid div {
    height: 38px;
    width: 38px;
    border: 1px solid black;
    border-radius: 6px;


}



.checked {
    background-color: rgb(94, 245, 94);
}

.death {
    background-color:red;
}