/* importing frontface */
@font-face {
    font-family: unibody;
    src: url(./assets/Unibody8Skinny.ttf);
 }

* {
    font-family: unibody;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin:0;
} 

body {
    background-color: #ECE2D0;
}

.checked {
    background-color: #ECE2D0;

}

.death {
    background-color:#6D2E46;
}

.flag {
    background-color: #A26769;
}

footer {
    background-color: #6D2E46;
    color: #ECE2D0;
    font-family: 'Texturina', serif, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 2rem;
    margin-top: 5rem;
}

.grid {
    background-color: #CEBEBE;
    border: 7px double #6D2E46;
    display: flex;
    flex-wrap: wrap;
    height:320px;
    margin-top: 7rem;
    width: 320px;
    -webkit-box-shadow: 0px 0px 27px 11px rgba(0,0,0,0.74); 
    box-shadow: 0px 0px 27px 11px rgba(0,0,0,0.74);
}

.grid div {
    height: 30px;
    width: 30px;
    border: 1px solid #6D2E46;
    border-radius: 6px;
    
}


h1 {
    font-family: 'Texturina', serif, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-top:3rem;
    padding:2rem;
}



@media only screen and (min-width: 700px) {

    
    * {
        font-size: 1.4rem;
    }

    .grid {
        height:500px;
        margin-left:26%;
        margin-top:0;
        width:500px;
        margin-top:3rem;
    }

    .grid div {
        height: 48px;
        width: 48px;
        border: 1px solid #6D2E46;
        border-radius: 6px;
        
    }

    footer {
        font-size: 1.3rem;
    }

    h1 {
        font-family: 'Texturina', serif, Arial, Helvetica, sans-serif;
        font-size: 3rem;
        padding: 0;
        padding-top:0.5rem;
        margin-top:1rem;
        
    }

}


